* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: cornflowerblue;
}

nav {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

nav a {
    color: white;
    padding: 8px;
    background-color: rgb(126, 163, 234);
    border-radius: 8px;

    display: flex;
    flex: .25;
    justify-content: center;
}

main {
    padding: 40px 10%;
}

.carousel {
    border: 1px solid black;
    border-radius: 24px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item-box {
    border: 1px solid black;
    border-radius: 24px;
    overflow: hidden;
    padding: 8px;
    background-color: slateblue;
    color: white;
}

.item-box img {
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
}

.text {
    padding: 12px;
}